body {
    background-color: #ffffff;
}

.title {
    margin-top: 10%;
    text-align: center;
}

.box {
    margin-top: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inbox {
    background-color: #f0f0f4;
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 5px 5px #e9f1f6;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bt {
    margin-top: 2%;
    margin-bottom: 2%;
}

form {
    text-align: center;
}