<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css.css') }}">
    </head>
    <body>
        <h1>Code-serverManager | Login</h1>
        <dev>
            <form action="/api/login" method="POST">
                用户名:<input type="text" name="username"><br>
                密码:<input type="password" name="password"><br>
                <input type="submit">
            </form>
        </dev>
    </body>
</html>